@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Splash&display=swap");

@import "tailwindcss";

@theme {
  --color-brand: #4169e1;
  --color-dark: #14171e;
  --color-dark-faded: #14171e70;
  --color-light: #eff0f9;
  --color-danger: #ff4d4f;
  --color-placeholder: #4a5565;
  --color-gray: #d0d5dd;
  --color-hover: #e4e6eb;
  --color-danger: #cc262c;
  --color-danger-hover: #a61f24;

  --font-poppins: "Poppins", sans-serif;
  --font-smooch: "Smooch", sans-serif;
  --font-splash: "Splash", sans-serif;
}

* {
  font-family: var(--font-poppins);
}
